<footer>
    <div class="footer-area mt-5">
      <div class="container">
        <div class="row">
          <div class="col-2">
              <img src="../../assets/logo.jpg" class ="img-fluid" alt="yet to load">
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-4">
                <div class="footer-box about-widget">
                  <h2 class="widget-title mb-3">About us</h2>
                  <p>
                    Ut enim ad minim veniam perspiciatis unde omnis iste natus error
                    sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae.
                  </p>
                </div>
              </div>
              <div class="col-4">
                <div class="footer-box get-in-touch">
                  <h2 class="widget-title mb-3">Get in Touch</h2>
                  <ul>
                    <li>34/8, Argadow road, West Mambalam, Chennai</li>
                    <li>support@vintagebank.com</li>
                    <li>+91 90031 92470</li>
                  </ul>
                </div>
              </div>
              <div class="col-4">
                <div class="footer-box pages">
                  <h2 class="widget-title mb-3">Pages</h2>
                  <ul class= "foot-align">
                    <li><a routerLogin ="home">Home</a></li>
                    <li><a routerLogin ="about" class="text-decoration-none">About</a></li>
                    <li><a routerLogin ="pages" class="text-decoration-none">Pages</a></li>
                    <li><a routerLogin ="news" class="text-decoration-none">News</a></li>
                    <li><a routerLogin ="contact" class="text-decoration-none">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </footer>