
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="../../assets/debit card.png" class ="img-fluid" alt="card">
    </div>
    <div class="col-6 back-conainer">
      <h3>
        Calculate EMI of three loans
      </h3>
      <h3>
        Calculate Fixed Deposit
      </h3>
      <div class="buttons d-flex mt-5">
        <div class="btn btn-primary btn-align"> <a [routerLink] = "['', 'banking', 'loan']">Calculate EMI</a> </div>
        <div class="btn btn-primary btn-align"><a [routerLink] = "['', 'banking', 'fixed']">Calculate Fixed Deposit</a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>






  