<form action="">
<div class="container">
  <div class="row">
    <div class="col-6 label-align">
      <select name="" id="" #mode (change)="pay(mode.value)" class = "mb-3">
        <option value="">MODE OF PAYMENT</option>
        <option value="Enter the phone number">PHONE NO</option>
        <option value="Enter the Acc number">ACC NO</option>
        <option value="Enter the UPI ID">UPI</option>
      </select>
      <p>{{ paymentType }}</p>
      <input type="text" class ="mb-3" #payment /><br><input type="button" value="Verify" (click)=check(payment.value)><br>
      <label class = "mb-3">Total amount</label><input type="text" class = "mb-3" value = {{totalPayment}}>
      <label class = "mb-3">Amount to pay</label>
      <input type="text" class = "mb-3" placeholder="Enter the amount to be paid" #topay/>
      <!-- <label class = "mb-3">Remaining Balance</label><input type="text" class = "mb-3" value = {{remaining}}> -->
      <div class = "mb-3">
          <input type="button" value="PAY" (click)="paydone(topay.value)">
          <input type="reset" value="RESET">
      </div>
      <div>
          <h3>{{paymentSuccess}}</h3>
      </div>
    </div>
  </div>
</div>
</form>
